name: Main Workflow
on:
  push:
    branches: [master, release-debug]
    tags: ["v*"]

jobs:
  prep:
    uses: ./.github/workflows/prep.yml
    secrets: inherit

  build_and_test:
    needs: prep
    uses: ./.github/workflows/build_and_test.yml
    secrets: inherit

  deploy:
    needs: [prep, build_and_test]
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/deploy.yml
    with:
      is-dev: false
      is-release: true
    secrets: inherit
